In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\MAX TECH STORE\\Documents\\DataScienceProjects\\Bootcamp Projects\\OneCampus\\ONECAMPUS\\Data Wrangling Project\\Muskets_teamData_V2.csv")
df.head()

C:\Users\MAX TECH STORE\AppData\Local\Temp\ipykernel_10572\3926593694.py:1: DtypeWarning: Columns (26,29,76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\MAX TECH STORE\\Documents\\DataScienceProjects\\Bootcamp Projects\\OneCampus\\ONECAMPUS\\Data Wrangling Project\\Muskets_teamData_V2.csv")

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93.0,93.0,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85.0,92.0,91.0,95.0,38.0,65.0,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92.0,92.0,\n\n\n\nJuventus,...,High,Low,5 ★,89.0,93.0,81.0,89.0,35.0,77.0,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91.0,93.0,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87.0,92.0,78.0,90.0,52.0,90.0,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91.0,91.0,\n\n\n\nManchester City,...,High,High,4 ★,76.0,86.0,93.0,88.0,64.0,78.0,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91.0,91.0,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91.0,85.0,86.0,94.0,36.0,59.0,595

In [4]:
df.columns

Index(['ID', 'Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Age',
       '↓OVA', 'POT', 'Club', 'Contract', 'Positions', 'Height', 'Weight',
       'Preferred Foot', 'BOV', 'Best Position', 'Joined', 'Loan Date End',
       'Value', 'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [11]:
df[['W/F', 'SM']]

       W/F  SM
0      4 ★  4★
1      4 ★  5★
2      3 ★  1★
3      5 ★  4★
4      5 ★  5★
...    ...  ..
19016  2 ★  2★
19017  2 ★  2★
19018  2 ★  2★
19019  3 ★  2★
19020  3 ★  2★

[19021 rows x 2 columns]

In [8]:
df[["Value", "Wage"]]

         Value   Wage
0      €103.5M  €560K
1         €63M  €220K
2        €120M  €125K
3        €129M  €370K
4        €132M  €270K
...        ...    ...
19016    €100K    €1K
19017    €130K   €500
19018    €120K   €500
19019    €100K    €2K
19020    €100K    €1K

[19021 rows x 2 columns]

In [9]:
## 1. Using the dtype function and a forloop

In [12]:
for i in df[['W/F', 'SM']]:
    if df[i].dtype == "object":
        df[i] = df[i].str.rstrip('★')

In [13]:
df["W/F"]

0        4
1        4
2        3
3        5
4        5
         ..
19016    2
19017    2
19018    2
19019    3
19020    3
Name: W/F, Length: 19021, dtype: object

In [14]:
## 2. Using the forloop and empty_list

In [16]:
value = df["Value"]

emp_value = []

for i in value:
    if "€" in i:
        ans = i.strip("€")
    else:
        ans = i
    emp_value.append(ans)

In [19]:
empty_value = []

for i in emp_value:
    if "M" in i:
        ans = i.strip("M")
    else:
        ans = i
    empty_value.append(ans)

In [21]:
empty_Value = []

for i in empty_value:
    if "K" in i:
        ans = i.strip("K")
    else:
        ans = i
    empty_Value.append(ans)

In [22]:
df["value"] = empty_Value

In [23]:
df["value"]

0        103.5
1           63
2          120
3          129
4          132
         ...
19016      100
19017      130
19018      120
19019      100
19020      100
Name: value, Length: 19021, dtype: object

In [24]:
## 3. Using the astype

In [25]:
df["Wage"] = df["Wage"].astype(str).str.lstrip("€")

In [26]:
df["Wage"]

0        560K
1        220K
2        125K
3        370K
4        270K
         ...
19016      1K
19017     500
19018     500
19019      2K
19020      1K
Name: Wage, Length: 19021, dtype: object

In [27]:
df["Wage"] = df["Wage"].astype(str).str.rstrip("K")

In [28]:
df["Wage"]

0        560
1        220
2        125
3        370
4        270
        ...
19016      1
19017    500
19018    500
19019      2
19020      1
Name: Wage, Length: 19021, dtype: object